.pageContainer {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* justify-self: flex-start; */
  /* justify-content: space-around; */
  height: 100vh;
  width: 30vh;
  background-color: rgb(191, 219, 254);
  font-size: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
.logo {
  padding: 20px;
}

.menuInfo {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  /* padding: 50px; */
  margin-top: 30px;
  /* line-height: 50px; */
}


/* .menuItem {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
.menuIcon {
  display: flex;
  position: absolute;
  
} */
.profile {
  display: flex;
  justify-content: flex-end;
  /* align-self: flex-end; */
}

.logout {
  display: flex;
  margin-top: 100px;
  justify-self: center;
  z-index: 1;
  align-self: center;
}
