.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  margin-left: 80px;
}

.box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: #e6edf7;
  position: relative;
  padding: 20px;
  width: 600px;
  border-radius: 15px;
  margin: 20px;
  line-height: 40px;
  overflow: hidden;
  height: 220px;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0);
  box-shadow: 0px 3px 12px -6px rgba(0, 0, 0, 1);
}

.box:hover {
  opacity: 0.8;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(1.05);
  z-index: 10;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.grid > div {
  flex-basis: calc(50% - 40px);
}

p {
  font-size: 30px;
  margin-bottom: 100px;
}
.icon {
  display: flex;
  padding-bottom: 2px;
}
