
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  margin-left:80px
  

}

.box {
  background-color: #bfdbfe;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 4px
    ),
    repeating-linear-gradient(#bfdbfe55, #bfdbfe);
  padding: 25px;
  width: 600px;
  border-radius: 15px;
  margin: 20px;
  overflow: hidden;
  height: 220px;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 1);

}

.box:hover {
  opacity: 0.8;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(50% - 40px);
}

p {
  font-size: 30px;
}

/* background-color: #e5e5f7;
opacity: 0.3;
background-image:  linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
background-position:  11px 0, 11px 0, 0 0, 0 0;
background-size: 22px 22px;
background-repeat: repeat; */
