table.GeneratedTable {
  text-align: left;
  width: 900px;
  padding: 15px;
  margin-left: 150px;
  margin-top: 200px;
  position: absolute;
  background-color: #ffffff;
  border-collapse: collapse;
  border-bottom-color: #787575;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-bottom-width: 1px;
  border-color: #716b6b;
  border-bottom-style: solid;
  padding: 15px;
}

table.GeneratedTable tr:hover {
  opacity: 0.5;
}

table.GeneratedTable thead {
  background-color: rgb(220, 236, 255);
}

.filter-buttons {
 display: flex;
 align-items: center;
 justify-content: space-between;
 
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}