table.GeneratedTable {
  text-align: left;
  width: 900px;
  padding:15px;
  margin-left: 150px;
  margin-top: 200px; 
  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 15px;
  /* border-bottom-width: 1px; */
  border-bottom-color: #787575;
  /* border-style: solid; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  /* -webkit-box-shadow: 0px 0px 0px 0px rgba(1, 1, 1, 1);
  box-shadow: 0px 0px 20px 0px rgba(0.5, 1, 1, 1); */

}

table.GeneratedTable td, table.GeneratedTable th {
  border-bottom-width: 1px;
  border-color: #716b6b;
  border-bottom-style: solid;
  padding: 15px;
}

table.GeneratedTable tr:hover {
  opacity: 0.5;
}

table.GeneratedTable thead {
  background-color: rgb(239, 246, 255);
}