@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@900&display=swap');

.form-container {
  padding: 50px;
  font-size: 15px;
  font-family: 'DM Sans', sans-serif;
}

.people-details-container{
  display: flex;
  justify-content:space-evenly;

  
}

.personal-details-container {
  max-height: 20%;

  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  max-width: 40%;
  padding: 15px;
}
.client-details-container {

  flex-direction: column;
  max-width: 40%;

  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 15px;
  
}

.job-details-container {

  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 15px;
  max-width: 40%;

}


input[type='text'],
[type='datetime-local'],
select {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  line-height: 10px;
}

input[type='submit'] {

  background-color: rgb(191,219,254);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 100px;
  border-radius: 10px;
  cursor: pointer;
}
/* input[type='submit']:hover {
  opacity: 90%;
} */

h2 {
  font-size: 30px;
}





