@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@900&display=swap');

.form-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: 15px;
  width:110ch;
  font-family: 'DM Sans', sans-serif;
}

.people-details-container {
  display: flex;
  justify-content: space-between;
  max-height: 50%;
}

.personal-details-container {
  max-height: 50%;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  width: 500px;
  padding: 15px;
}
/* .client-details-container {
  flex-direction: column;
  width: 500px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 15px;
} */

.job-details-container {
  width: 500px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 15px;
  gap: 15px;
  height: 55vh;
}

input[type='text'],
[type='datetime-local'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  line-height: 10px;
}

input[type='submit'] {
  width: 100%;
  background-color: rgb(191,219,254);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
/* input[type="submit"]:hover {
  opacity: 80%;
} */

h2 {
  background-color:#e2e8f0 ;
  padding:10px;
  border-radius: 10px;
  opacity: 0.7;
}
